# Ejercicio 1: Transformar cadenas.
Hay varias operaciones que puedes realizar en las cadenas cuando las manipulamos. En este ejercicio, usarás métodos de caena para modificar el texto con hechos sobre la Luna y luego extraerás información para crear un breve resumen.

> **Nota.**
> Dedica unos minutos a tratar de encontrar una solución. Luego desplázate hacia abajo hasta la parte inferior para ver si has logrado complicar el programa de acuerdo a las especificaciones.

El texto con el que trabajarás es el siguiente:

In [2]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Primero, divide el texto en cada oración para trabajar con su contenido:

In [3]:
# Añade el código necesario.

text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

In [4]:
# Define las palabras pista:  average, temperature y distance suena bien.

words = [ "average", "temperature", "distance" ]

Cree un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [5]:
# Ciclo for para recorrer la cadena.

for sentence in text_parts:
  for word in words:
    if word in sentence:
      print(sentence)

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

Finalmente, actualiza el bucle (ciclo) para cambiar _C_ a _Celsius_:

In [6]:
# Ciclo para cambiar C a Celsius.

for sentence in text_parts:
  for word in words:
    if word in sentence:
      print(sentence.replace( "C", "Celsius"))

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

> Recuerda: Lo importante es intentarlo, puede auxiliarte de internet, libros, etc. El objetivo de una kata es la comprobación de la comprensión de la lección y su aplicación inmediata a la resolución de problemas. Go for it!

# Ejercicio 2: Formatenado cadenas.

Saber cómo dar formato a las cadenas es escencial cuando se presenta información de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de remplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

```
Gravity Facts about Ganymede
------------------------------------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2
```

In [7]:
# Datos con los que vas a trabajar
name    = "Moon"
gravity = 0.00162 # in  kms
planet  = "Earth"

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [8]:
# Creamos el título.

title = "Gravity in {1} and {0}".format( name, planet )
title

'Gravity in Earth and Moon'

Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [9]:
# Creamos la plantilla.

data = f"""
Name of planet: {planet}.
Gravity in {name}: {gravity*1000} m/s^2
"""
print(data)

Name of planet: Earth.
Gravity in Moon: 1.6199999999999999 m/s^2

Finalmente, usa ambas variables para unir el título y los hechos.

In [10]:
# Unión de ambas cadenas.

oracion = f"""
{title.title()}
{data}
"""
print(oracion)

Gravity In Earth And Moon

Name of planet: Earth.
Gravity in Moon: 1.6199999999999999 m/s^2

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra:
```
planet  = 'Marte'
gravity = 0.00143
name   = 'Ganímedes'
```

In [11]:
# Comprueba la plantilla.
# print(nombre_plantilla)

planet  = 'Marte'
gravity = 0.00143
name   = 'Ganímedes'
print(data)

Name of planet: Earth.
Gravity in Moon: 1.6199999999999999 m/s^2

La salida no muestra información sobre Marte. Todavía muestra información sobre la Luna. Esto sucede porque las cadenas f están ansiosas en su evaluación, por lo que las variables una vez asignadas no se pueden reasignar. Para evitar este problema, vuelva a hacer la plantilla para utilizar .format():

In [12]:
# Nueva plantilla.

nueva_plantilla = "Name of planet: {0}. \nGravity in {1}: {2} m/s^2".format( planet, name, gravity )
print( nueva_plantilla )

Name of planet: Marte.
Gravity in Ganímedes: 0.00143 m/s^2

Debido a que .format() no permite expresiones, la gravedad en Ganímedes es incorrecta. Asegúrese de que la operación se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [15]:
# Pista: print(nueva_plantilla.format(variables))

nueva_plantilla = "Name of planet: {0}. \nGravity in {1}: {2} m/s^2".format( planet, name, gravity * 1000 )
print( nueva_plantilla )

Name of planet: Marte.
Gravity in Ganímedes: 1.4300000000000002 m/s^2